$primary: #FFFFFF;
$secondary: #b71a1b;
$white: #FFFFFF;
$ligthGrey: #F3F3F3;
$gray: #8D8D8D;
$black: #201F1F;
$persic: #C68457;

$cos_bp: 1460px;
$xl-bp: 1024px;

$lg-bp: 920px;
$sm-bp: 500px;
$mb-bp: 850px;
$sr-bp: 700px;

$mm-bp: 1440px;

// help bp
$rm-bp: 1792px;
$pm-bp: 1545px;
$hb-bp: 1310px;
$bm-bp: 1300px;
$jb-bp: 850px;
$lb-bp: 650px;



$border: 8rem;
$border-average: 4rem;
$border-min: 2rem;

$trans: background-color .4s ease-in-out, color .4s ease-in-out;

%easyHover {
    & {
        will-change: transform;
        cursor: pointer;
        transition: transform .4s ease-in-out;
    }
    &:hover {
        transform: scale(1.08);
    }
}

%scaleHover {
    @media(any-hover: hover) {
        & {
            will-change: transform;
            cursor: pointer;
            transition: transform .4s ease-in-out;
        }
        &:hover {
            transform: scale(1.05);
        }
    }
}


%title {
    font-weight: 700;
    font-size: 6rem;
    color: $black;
    line-height: 7.3rem;

    margin-top: 12rem;
    margin-bottom: 5rem;

    @media screen and (max-width: $sm-bp) {
        font-size: 3rem;
        line-height: 3.6rem;

        margin-top: 8rem;
        margin-bottom: 2rem;;
    }
}

%button {
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30rem;
    height: 5.2rem;

    color: $persic;

    border: 0.1rem solid $persic;
    border-radius: 0.5rem;

    background-color: transparent;

    transition: $trans;

    &:hover {
        background-color: $persic;
        color: $white;
    }
}

%prevButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    height: 4rem;
    width: 3.5rem;
    border: 0.1rem solid $persic;
    border-right: 0;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    background-color: transparent;
    .icon {
        stroke: $persic;
        fill: transparent;
        width: 0.8rem;
        height: 1.1rem;
    }

    cursor: pointer;

    transition: $trans;

    @media(any-hover: hover) {
        &:hover {
            background-color: $persic;
            .icon {
                stroke: $white;
            }
        }
    }
    // &:hover {
    //     background-color: $persic;
    //     .icon {
    //         stroke: $white;
    //     }
    // }
}
%nextButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 3.5rem;
    border: 0.1rem solid $persic;
    border-left: 0;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    background-color: transparent;

    cursor: pointer;
    transition: $trans;
    .icon {
        stroke: $persic;
        fill: transparent;
        width: 0.8rem;
        height: 1.1rem;

        transition: $trans;
    }
    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 0.1rem;
        background-color: $persic;
        left: 0;
    }

    @media(any-hover: hover) {
        &:hover {
            background-color: $persic;
            .icon {
                stroke: $white;
            }
        }
    }

    // &:hover {
    //     background-color: $persic;
    //     .icon {
    //         stroke: $white;
    //     }
    // }
}

%input {
    font-family: InterMed;
    height: 5rem;
    width: 44.5rem;
    font-weight: 500;

    color: $black;

    border: 0.1rem solid $gray;
    border-radius: 0.5rem;

    font-weight: 500;
    font-size: 1.4rem;
    line-height: 142%;

    padding: 2rem;
    &::placeholder {
        color: $gray;
    }
}

%busketButton {
    width: 4.5rem;
    height: 4.2rem;
    border: 1px solid $persic;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    transition: $trans;

    @media screen and (max-width: $xl-bp) {
        border: 0;
        background-color: $ligthGrey;
        padding: 0.5rem;
        height: min-content;
    }

    svg {
        width: 2.5rem;
        height: 2.2rem;
        stroke: $persic;
        transition: all .5s ease-in-out;
    }

    @media(any-hover: hover) {
        &:hover {
            background-color: $persic;
        @media screen and (max-width: $sm-bp) {
            background-color: $ligthGrey;
        }
        svg {
            stroke: $white;
            @media screen and (max-width: $sm-bp) {
                stroke: $persic;
            }
        }
        }
    }

    // &:hover {
    //     background-color: $persic;
    //     @media screen and (max-width: $sm-bp) {
    //         background-color: $ligthGrey;
    //     }
    //     svg {
    //         stroke: $white;
    //         @media screen and (max-width: $sm-bp) {
    //             stroke: $persic;
    //         }
    //     }
    // }
}


