.busket {
    position: relative;

    font-family: InterMed;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.2rem;

    color: $black;



    padding-left: $border;
    padding-right: $border;

    padding-top: 5rem;

    padding-bottom: 12rem;

    display: grid;
    grid-template-columns: 1fr 62.4rem;
    column-gap: 9rem;
    row-gap: 4rem;

    @include breakpoint($cos-bp) {
        padding-left: $border-average;
        padding-right: $border-average;

        grid-template-columns: 1fr 50rem;
        column-gap: 4rem;
    }

    @include breakpoint($xl-bp) {
        padding-left: $border-min;
        padding-right: $border-min;

        grid-template-columns: 1fr;
    }

    @include breakpoint($lb-bp) {
        font-size: 1.4rem;
        row-gap: 2rem;
        padding-top: 3rem;
    }

    section.busket__products {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        div.busket__productContainer {
            display: grid;
            grid-template-columns: 2rem min-content repeat(3, 1fr) 2rem;
            column-gap: 3rem;
            align-items: center;

            @include breakpoint($lb-bp) {
                grid-template-columns: min-content repeat(3, 1fr);
                grid-template-rows: 3rem repeat(2, 1fr);
                row-gap: 0.5rem;
                column-gap: 1rem;
            }

            .busket__checkBox {
                @include breakpoint($lb-bp) {
                    align-self: start !important;
                }
            }

            div.busket__imgWrapper {
                width: 8.3rem;
                height: 8.3rem;

                @include breakpoint($lb-bp) {
                    grid-row: 2 / 4;
                    grid-column: 1 / 2;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            div.busket__titleContainer {
                justify-self: end;

                @include breakpoint($lb-bp) {
                    grid-row: 2 / 3;
                    grid-column: 2 / 4;
                    justify-self: start;
                }

                div.busket__modelName {
                    margin-top: 1rem;

                    @include breakpoint($lb-bp) {
                        margin-top: 0;
                    }
                }
            }

            div.busket__inputNumberContainer {
                display: flex;
                gap: .8rem;
                align-items: center;
                justify-self: center;

                @include breakpoint($lb-bp) {
                    grid-row: 3 / 4;
                    grid-column: 2 / 3;
                }

                button.busket__inputPlus,
                button.busket__inputMinus {
                    width: 3.9rem;
                    height: 3.9rem;

                    border: 0.1rem solid $persic;
                    border-radius: 0.5rem;
                }

                div.busket__number {
                    padding: 0 0.7rem;
                }
            }

            div.busket__priceContainer {
                @include breakpoint($lb-bp) {
                    grid-row: 3 / 4;
                    grid-column: 3 / 5;
                }

                div.busket__price {
                    font-weight: 500;
                    font-size: 2.4rem;
                    line-height: 2.9rem;

                    @include breakpoint($lb-bp) {
                        font-size: 1.4rem;
                        font-weight: 700;
                        line-height: 2rem;
                    }
                }

                div.busket__credit {
                    margin-top: 0.5rem;

                    font-weight: 500;
                    line-height: 2.2rem;

                    color: $gray;

                    @include breakpoint($lb-bp) {
                        font-size: 1.4rem;
                        line-height: 2rem;
                    }
                }
            }

            .busket__closeIcon {
                @include breakpoint($lb-bp) {
                    grid-row: 1 / 2;
                    grid-column: 4 / 5;
                    justify-self: end;
                }

                cursor: pointer;

                &:hover>.gg-close::after,
                &:hover>.gg-close::before {
                    background: $persic;
                }

                .gg-close {
                    box-sizing: border-box;
                    position: relative;
                    display: block;
                    transform: scale(1);
                    width: 2rem;
                    height: 2rem;
                    border: 0.2rem solid transparent;
                    border-radius: 4rem;
                }

                .gg-close::after,
                .gg-close::before {
                    content: "";
                    display: block;
                    box-sizing: border-box;
                    position: absolute;
                    width: 2rem;
                    height: 0.1rem;
                    background: $black;
                    transform: rotate(45deg);
                    top: 50%;
                    right: -0.4rem;
                    transition: $trans;
                }

                .gg-close::after {
                    transform: rotate(-45deg)
                }

                @include breakpoint($lg-bp) {
                    align-self: flex-end;
                }
            }
        }

        .close-icon {
            align-self: center !important;

            @include breakpoint($lb-bp) {
                align-self: start !important;
            }
        }

        .busket__line {
            margin: 1rem 0;
            border-top: 1px solid $gray;
        }
    }
}

.buyer {
    grid-row: 2 / 4;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.2rem;
    row-gap: 1.5rem;

    @include breakpoint($xl-bp) {
        grid-row: unset;
    }

    @include breakpoint($sm-bp) {
        grid-template-columns: 1fr;
    }

    .buyer__title {
        grid-column: 2 span;
        @include breakpoint($sm-bp) {
            grid-column: 1 span;
        }
    }

    .buyer__input {
        input {
            background-color: $ligthGrey;
            width: 100%;
        }
    }

    .buyer__input:last-of-type {
        grid-column: 2 span;
        @include breakpoint($sm-bp) {
            grid-column: 1 span;
        }
    }
}

.delivery-type {
    grid-column: 1 / 2;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;


    @include breakpoint($xl-bp) {
        grid-column: unset;
    }

    .delivery-type__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        column-gap: 6rem;
        row-gap: 2rem;

        .delivery-type__block {
            display: grid;
            grid-template-columns: 2rem 1fr;
            column-gap: 1.5rem;

            .busket__checkBox {
                margin-top: 0.6rem;
            }

            .delivery-type__wrapper {}

            .delivery-type__nameItem {
                padding-bottom: 0.5rem;
            }

            .delivery-type__desc {}

        }
    }

    .cash-type__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
        column-gap: 0;
        row-gap: 2rem;

        .delivery-type__block {
            display: grid;
            grid-template-columns: 2rem 1fr;
            column-gap: 1.5rem;

            .busket__checkBox {
                margin-top: 0.6rem;
            }

            .delivery-type__wrapper {}

            .delivery-type__nameItem {
                padding-bottom: 0.5rem;
            }

            .delivery-type__desc {}

        }
    }
}

div.total.busket-block {
    position: sticky;
    top: 4rem;
    right: 0;
    grid-row: 1 / 3;
    grid-column: 2 / 3;

    margin-left: auto;


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;


    @include breakpoint($cos-bp) {
        right: $border-average;
    }

    @include breakpoint($xl-bp) {
        position: unset;
        grid-column: unset;
        grid-row: unset;
    }

    .busket__totalAmount {
        text-align: end;
    }

    div.busket__wrapperDesc {
        grid-column: 2 span;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.5rem;
        column-gap: 2rem;

        @include breakpoint($cos-bp) {
            grid-template-columns: 1fr 10rem;
        }

        @include breakpoint($lb-bp) {
            grid-template-columns: 1fr 13rem;
        }

        .busket-descrTopBlack {
            margin-left: 14rem;

            @include breakpoint($cos-bp) {
                margin-left: 0;
                grid-template-columns: 1fr 5rem;
            }

            @include breakpoint($lb-bp) {
                font-weight: 700;
            }
        }
    }

    div.busket__addressWrapper {
        padding: 1rem 0;
        grid-column: 2 span;
    }

    .input-container.busket__interPromo {
        margin-top: 1rem;
        margin-bottom: 3rem;
        grid-column: 2 span;


        @include breakpoint($lb-bp) {
            margin-bottom: 1rem;
        }

        .busket__interPromoButton {
            position: absolute;
            background-color: transparent;
            top: 1.5rem;
            right: 2rem;
            border: 0;
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2rem;

            color: $persic;

        }

        input {
            background-color: $ligthGrey;
        }
    }

    button.busket__buttonInput {
        width: 100%;
        @extend %button;

        @include breakpoint($lb-bp) {
            grid-column: 2 span;
        }
    }

    div.busket__buttonDesc {
        font-family: InterMed;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2rem;

        padding-right: 1rem;

        @include breakpoint($lb-bp) {
            grid-column: 2 span;
        }
    }
}


.title-busket {
    font-family: Inter;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.6rem;
    padding-bottom: 1rem;
}

.busket-block {
    margin-top: 1rem;
    padding: 2rem 5rem;
    background: $ligthGrey;
    border-radius: 1rem;

    @include breakpoint($lb-bp) {
        padding: 1.5rem;
    }
}

.busket-desc {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;

    color: $gray;
}

.busket-descrTop {
    font-family: InterMed;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;

    color: $gray;
}

.busket-descrTopBlack {
    font-weight: 500;
    line-height: 2.2rem;
}

.busket-descrMiddleBlack {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.7rem;
    padding-bottom: 0.5rem;
}



.busket__checkBox {
    label {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 136%;
        color: #201F1F;
    }

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    input+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }

    input+label::before {
        content: '';
        display: inline-block;
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
        flex-grow: 0;
        border: 0.2rem solid #C2C2C2;
        border-radius: 0.2rem;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }

    input:checked+label::before {
        border: none;
        background-color: #C68457;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
}