.input-container {
    position: relative;
    font-family: InterMed;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    color: $black;

    &__main:focus ~ .input-container__placeholder,
    &__haveValue ~ .input-container__placeholder {
        top: 0.55rem;
        left: 2rem;
        font-size: 1.2rem;
    }

    &__main {
        padding: 2.45rem 2rem 0.55rem 2rem;

        height: 5rem;
        width: 100%;

        font-size: 1.4rem;
        
        /* серый2 */
        color: $black;
        border: 0.1rem solid $gray;
        border-radius: 0.5rem;
    }

    &__placeholder {
        position: absolute;
        pointer-events: none;
        left: 2rem;
        top: 1.5rem;
        transition: 0.2s ease all;
        
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2rem;
        
        /* серый2 */
        
        color: $gray;
    }
}


.menu {
    position: fixed;
    z-index: 1;
    width: 36.6rem;
    height: 100vh;
    right: 0;
    top: 0;
    
    /* белый */
    
    background: $white;
    box-shadow: 0px 0.4rem 2.4rem rgba(0, 0, 0, 0.15);

    padding: 3.5rem 8.7rem 5.6rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    transition: transform 0.5s ease-in-out;
    transform: translateX(100%);
    @include breakpoint($xl-bp) {
        align-items: flex-start;
    }

    @include breakpoint($lg-bp) {
        padding-right: 2rem;
    }

    @include breakpoint($lb-bp) {
        width: 100vw;
    }

    &__closeIcon {
        cursor: pointer;
        &:hover > .gg-close::after,
        &:hover > .gg-close::before{
            background: $persic;
        }
        .gg-close {
            box-sizing: border-box;
            position: relative;
            display: block;
            transform: scale(1);
            width: 2.9rem;
            height: 2.9rem;
            border: 0.2rem solid transparent;
            border-radius: 4rem;
        }
        .gg-close::after,
        .gg-close::before {
            content: "";
            display: block;
            box-sizing: border-box;
            position: absolute;
            width: 3.1rem;
            height: 0.1rem;
            background: $black;
            transform: rotate(45deg);
            top: 1.5rem;
            right: -0.4rem;
            transition: $trans;
        }
        .gg-close::after {
            transform: rotate(-45deg)
        }
        @include breakpoint($lg-bp) {
            align-self: flex-end;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 4rem;
        @include breakpoint($xl-bp) {
            align-items: flex-start;
        }
    }

    &__itemMain {
        font-family: 'InterMed';
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.9rem;

        /* черный */

        cursor: pointer;

        color: $black;

        &:hover {
            color: $persic;
        }

        a {
            color: $black;
            transition: $trans;
        }
        &:hover > a {
            color: $persic;
        }
    }

    .accordion {
        position: relative;
        margin-bottom: 1rem;
        transition: 0.4s;

        display: none;
        @include breakpoint($lg-bp) {
            display: block;
        }


            &:hover::before,
            &:hover::after {
                background: $persic;
                transition: $trans;
            }
            &::before {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                width: 1.2rem;
                height: 0.1rem;
                background: $black;
                transform: rotate(45deg);
                top: 1.5rem;
                right: -1.4rem;
                transition: $trans;
            }
            &::after {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                width: 1.2rem;
                height: 0.1rem;
                background: $black;
                transform: rotate(45deg);
                top: 1.5rem;
                right: -2.24rem;
                transition: $trans;
                transform: rotate(-45deg);
            }
        
    }



    .panel {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    &__item {
        font-family: 'InterReg';
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 136%;
        /* or 24px */
        
        
        /* черный */
        
        color: #201F1F;
    }

    &__contacts {
        margin-top: 6.5rem;
    }

    &__contactsItem {
        font-family: 'InterMed';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 142%;
        /* identical to box height, or 20px */
        
        
        /* черный */
        

        display: flex;
        gap: 1rem;
        a {
            color: $black;
        }
    }

    &__icon {
        svg {
            width: 1.7rem;
            height: 1.7rem;
            fill: $persic;
        }
    }

    .meil {
        svg {
            width: 1.8rem;
            height: 1.5rem;
        }
    }

    .menu__iconBot {
        svg {
            stroke: $persic;
            fill: transparent;
            // fill: $persic;
            width: 2.3rem;
            height: 2.3rem;
        }
    }

    .menu__iconBot:last-child {
        svg {
        width: 2.8rem;
        height: 2.2rem;
        }
    }

    &__text {
    }
}



.active {
    visibility: visible;
    transform: translateX(0);
}

.search {
    opacity: 0;
    transform: translateY(-100%);

    transition: all 0.5s ease-in-out;

    position: absolute;
    top: 0;
    right: 0;
    width: 53rem;
    height: 13.3rem;

    padding: 2rem 2rem 3rem 3.4rem;
    
    /* белый */
    
    background: $white;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;

    row-gap: 1.2rem;

    z-index: 2;

    @include breakpoint($sm-bp) {
        width: 100%;
    }

    div.search__title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.2rem;
        
        color: $black;
    }
  
    div.search__close-icon {
        margin-left: auto;

        .gg-close::before,
        .gg-close::after {
            width: 2rem;
            top: 0.5rem;
        }
    }
  
    div.search__input {
        grid-column: 2 span;
        position: relative;

        input {
            padding-right: 4.5rem;
        }
        button {
            position: absolute;
            top: calc(50% - 1.14rem);
            right: 2rem;

            border: 0;
            background-color: transparent;
        }
        .search__icon {
            width: 2.053rem;
            height: 2.292rem;
            fill: transparent;
            stroke: $gray;
        }
    }
  
    }

    .search__hide {
        opacity: 1;
        transform: translateY(0);
    }
    


.header {
    font-family: InterReg;
    font-size: clamp(1.4rem, calc(1vmin + 0.1rem) ,2rem);
    background-color: $black;
    height: 9.7rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: $border;
    padding-right: $border;

    @include breakpoint($cos-bp) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    @include breakpoint($xl-bp) {
        padding-left: $border-min;
        padding-right: $border-min;

    }
    &__item {
        color: $white;

        @extend %easyHover;

        @include breakpoint($xl-bp) {
            display: none;
        }
    }
    &__logo {
        color: $white;
        font-weight: 700;
        white-space: nowrap;
        @extend %easyHover;
        @include breakpoint($xl-bp) {
            font-size: 2rem;
        }
    }
    &__list {
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem;
        @include breakpoint($cos_bp) {
            gap: clamp(1.2rem, calc(1vmin + 1rem) , 3rem);
        }
        @include breakpoint($xl-bp) {
            display: none;
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 2rem;
        @include breakpoint($cos_bp) {
            gap: clamp(1rem, calc(1vmin + 1rem) , 2rem);
            justify-content: center;
        }
    }
    &__contactItem {
        fill: $black;
        @extend %easyHover;
    }
    &__telegramIcon {
        width: 2.8rem;
        height: 2.2rem;
        stroke: $white;
        @include breakpoint($xl-bp) {
            display: none;
        }
    }
    &__whatsUpIcon {
        width: 2.5rem;
        height: 2.5rem;
        @include breakpoint($xl-bp) {
            display: none;
        }
    }
    &__phoneIcon {
        stroke: $white;
        width: 2.5rem;
        height: 2.5rem;
    }
    &__searchIcon {
        width: 2rem;
        height: 2.2rem;
        stroke: $white;
    }
    &__busketIcon {
        stroke: $white;
        width: 2.5rem;
        height: 2.2rem;
    }
    &__burgerMenuIcon {
        cursor: pointer;
        width: 5.2rem;
        height: 1.5rem;
    }
    .left {
        display: none;
        @include breakpoint($xl-bp) {
            display: block;
        }
    }
}

