.itemPage {
    position: relative;
    padding-top: 5rem;
    font-family: 'Inter';
    font-style: normal;

    color: $black;

    padding-left: $border;
    padding-right: $border;

    display: grid;
    grid-template-columns: 45.5% 1fr;

    @include breakpoint($cos-bp) {
        padding-left: $border-average;
        padding-right: $border-average;

        grid-template-columns: 1fr 1fr;
    }

    @include breakpoint($xl-bp) {
        padding-left: $border-min;
        padding-right: $border-min;

        display: flex;
        flex-direction: column;
    }

    @include breakpoint($sm-bp) {
        padding-left: $border-lastMin;
        padding-right: $border-lastMin;
    }


    div.prewiev {
        position: sticky;
        top: 11rem;
        right: 0;
        justify-self: start;

        display: flex;
        gap: 2rem;

        margin-right: 10rem;


        height: min-content;
        @include breakpoint($xl-bp) {
            position: static;
            margin: 0;
            flex-direction: column;
            margin-bottom: 3rem;
        }
        div.prewiev__mainBlock {
            height: 54.8rem;
            width: 54.8rem;
            @include breakpoint($cos-bp) {
                width: auto;
                height: 44rem;
            }
            @include breakpoint($xl-bp) {
                width: auto;
                height: auto;
            }
            .prewiev__imgContainer {
            display: block;
            height: 54.8rem;
            color: transparent;
            
            /* серый лайт */

            padding: 18%;
            
            background: $ligthGrey;
            border-radius: 1rem;

            @include breakpoint($cos-bp) {
                // height: 44.8rem;
            }

            @include breakpoint($xl-bp) {
                height: auto;
                width: 100%;
                margin: 0;
            }
            
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        }
        div.swiper.prewiev__slider {
            height: 54.8rem;
            width: 12.2rem;
            
            @include breakpoint($cos-bp) {
                // height: 44.8rem;
            }
            @include breakpoint($xl-bp) {
                width: auto;
                height: auto;
            }
        div.swiper-wrapper {
            div.swiper-slide {
                
                /* серый лайт */
                
                background: $ligthGrey;
                border-radius: 1rem;

                padding: 2.24rem 2.9rem 2.1rem 3rem;
                cursor: pointer;
                .swiper__imgContainer {
                    width: 100%;
                    height: 100%;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .swiper-slide-active {
                border: 0.1rem solid $persic;
            }
        }
        }
    }

    div.itemPage__mainBlock {
    
        div.main-block {
            margin-bottom: 7.7rem;

            @include breakpoint($sm-bp) {
                margin-bottom: 4rem;
            }

            div.main-block__titleContainer {
                margin-bottom: 4rem;

                @include breakpoint($sm-bp) {
                    margin-bottom: 2rem;
                }
    
                div.star-container {
    
                    display: flex;
                    gap: 1rem;
    
                    margin-bottom: 0.7rem;
                    @include breakpoint($sm-bp) {
                        gap: 0;
                    }
                    div.star-container__star {
                        stroke: $persic;
                        fill: $persic;
                        width: 2.7rem;
                        height: 2.7rem;
                        svg {
                            width: 80%;
                            height: 80%;
                        }
                    }
                    div.star-container__star:last-child {
                        fill: transparent;
                    }
                }
    
                h1.main-block__title {
                    font-weight: 700;
                    font-size: 6rem;
                    line-height: 7.3rem;
                    @include breakpoint($cos-bp) {
                        font-size: 5rem;
                        line-height: 6.3rem;
                    }
                    @include breakpoint($sm-bp) {
                        font-size: 3.2rem;
                        line-height: 3.7rem;
                    }
                }
            }
    
            .desc {
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 2.2rem;
                @include breakpoint($sm-bp) {
                    font-size: 1.4rem;
                    line-height: 2rem;
                }
            }
    
            div.main-block__priceContainer {
                margin-bottom: 3.7rem;
                @include breakpoint($cos-bp) {
                    font-size: 2rem;
                    line-height: 5.3rem;
                }
                @include breakpoint($sm-bp) {
                    margin-bottom: 2rem;
                }
    
                div.main-block__price {
                    font-weight: 500;
                    font-size: 4rem;
                    line-height: 4.8rem;
                    
                    /* персик */
                    
                    color: $persic;
                    @include breakpoint($sm-bp) {
                        font-family: InterSB;
                        font-size: 2.2rem;
                        line-height: 2.7rem;
                    }
                }
    
                div.main-block__desc {
                    margin-top: 1rem;
                    @include breakpoint($xl-bp) {
                        margin-top: 0;
                    }
                }
            }
    
            div.main-block__colorContainer {
                margin-bottom: 10.7rem;

                @include breakpoint($xl-bp) {
                    margin-bottom: 2rem;
                }
    
                div.main-block__desc {
                    margin-bottom: 1rem;
                }
    
                div.main-block__colors {
                    div.main-block__color {
                        width: 4.7rem;
                        height: 4.7rem;
                        
                        background: #F1DCC5;
                        border-radius: 0.5rem;
                    }
                }
            }
    
            .site-button {
                @extend %button;
            }
    
            div.main-block__buttonContainer {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
    
                row-gap: 2rem;
                column-gap: 2rem;
    
                max-width: 62rem;
    
                
                div.main-block__text {
                    grid-column: 2 span;
    
                    font-family: InterReg;
                    font-weight: 400;
                    font-size: 2.2rem;
                    line-height: 2.7rem;
    
                    color: $gray;
                }
    
                button.main-block__toBusket {
                    @include breakpoint($lb-bp) {
                        width: auto;
                    }
                }
    
                button.main-block__toCredit {
                    @include breakpoint($lb-bp) {
                        width: auto;
                    }
                }
            }
        }
    }

    section.characteristics {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        max-width: 76.3rem;

        @include breakpoint($xl-bp) {
            grid-column-start: auto;
            grid-column-end: auto;

            height: 50rem;
            overflow: hidden;
        }
        
        h2.characteristics__title {
            font-weight: 700;
            font-size: 3rem;
            line-height: 3.6rem;
            margin-bottom: 0.5rem;
            @include breakpoint($sm-bp) {
                font-size: 4rem;
                line-height: 4.6rem;
            }
        }
    
    div.characteristics__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.6rem;

        h3.characteristics__titleContainer {
            grid-column: 2 span;
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 2.7rem;
        }
    
        div.characteristics__name {
            font-family: InterReg;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
    
        div.characteristics__value {
            font-family: InterReg;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.4rem;
        }
    }
    }

    .active666 {
        height: 100%!important;
        overflow: visible!important;
    }

    .hideText {
        display: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 142%;
        /* identical to box height, or 20px */
        
        text-decoration-line: underline;
        
        /* персик */
        
        color: #C68457;

        margin-top: 2rem;
        @include breakpoint($xl-bp) {
            display: block;
        }
    }
}

.topSalesItem {
    overflow: hidden;

    padding-left: $border;
    padding-right: $border;

    @include breakpoint($cos-bp) {
        padding-left: $border-average;
        padding-right: $border-average;
    }

    @include breakpoint($xl-bp) {
        padding-left: $border-min;
        padding-right: $border-min;

    }
    
    &__catalog {
        height: 52.3rem;
        overflow: visible;
        // overflow-x: clip;
        @include breakpoint($sm-bp) {
            height: 28rem;
        }
    }

    div {
        transition: all 0.5s ease-in-out;
        will-change: height;
    }

    &__imgContainer {
        height: 50%;
        // transition: all 0.5s ease-in-out;
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: contain;

        // transition: all 0.5s ease-in-out;
        @include breakpoint($xl-bp) {
            height: 70%;
        }
    }
    &__title {
        @extend %title;
        

    }

    .swiper {
        overflow: visible;
        @include breakpoint($xl-bp) {
            overflow: hidden;
        }
    }

    &__item {
        // position: relative;
        // z-index: 4;
        cursor: pointer;

        margin-bottom: 3rem;
        color: $black;
        border-radius: 1rem;
        padding: 4rem;
        width: 33.2rem;
        // height: 49.7rem;

        background: #F3F3F3;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        // @extend %scaleHover;
        // transition: all 0.5s ease-in-out;

        @media(any-hover: hover) {
        &:hover {
            height: 115%;
            padding: 0;
            padding-bottom: 3rem;
            gap: 0;
            .topSalesItem__imgContainer {
                height: 40rem;
            }
            .topSalesItem__wrapper {
                padding: 0 3rem;
            }
            .topSalesItem__priceContainer {
                margin-top: 0;
            }
            span {
                padding: 0 3rem;
            }
        }
        }
        
        @include breakpoint($sm-bp) {
            padding: 0.95rem;
            height: 100%;
            @media(any-hover: hover) {
                &:hover {
                    height: 100%;
                    padding: 0;
                    padding-bottom: 0.95rem;
                    img {
                        height: 13rem;
                    }
                    .topSalesItem__wrapper {
                        padding: 0 0.95rem;
                    }
                    .topSalesItem__priceContainer {
                        margin-top: 0;
                    }
                    span {
                        padding: 0 0.95rem;
                    }
                }
                }
        }
    }
    &__name {
        font-family: InterReg;
        font-weight: 400;
        font-size: 1.8rem;
        transition: all 0.5s ease-in-out;
        @include breakpoint($sm-bp) {
            font-size: 1.4rem;
        }
    }

    &__wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        // transition: all 0.5s ease-in-out;
    }

        &__priceContainer {
            // margin-top: 6.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            // transition: all 0.5s ease-in-out;
            @include breakpoint($sm-bp) {
                margin-top: 0;
                gap: 0rem;
            }
        }

        &__pastPrice {
            color: #8D8D8D;
            font-family: InterReg;
            text-decoration: line-through;
            @include breakpoint($sm-bp) {
                font-size: 1.4rem;
            }
        }

        &__mainPrice {
            font-weight: 700;
            font-size: 3rem;
            line-height: 3.6rem;
            @include breakpoint($sm-bp) {
                font-size: 1.4rem;
                line-height: normal;
            }
        }

        &__credit {
            font-family: InterReg;
            @include breakpoint($sm-bp) {
                margin-top: 1rem;
            }
        }
        &__busketButton {
            @extend %busketButton;

            @include breakpoint($sm-bp) {
                align-self: flex-start;
            }
        }
        &__buttonContainer {
            // position: absolute;
            // bottom: 0;
            width: 100%;
            display: flex;
            margin-top: 3rem;
            // z-index: 1;
        }
        &__prevButton {
            margin-left: auto;
            @extend %prevButton;
        }
        &__nextButton {
            @extend %nextButton;
        }
}

.itemPage__topSales {
    font-family: 'Inter';
    font-style: normal;
    margin-bottom: 10rem;
    .itemPage__topSales-title {
        font-size: 4rem;
        line-height: 4.8rem;
    }
}

.wrapper__itemPage {
    overflow: hidden;
}

.topSales {
    &__catalog {
        height: 52.3rem;
        overflow: visible;
        // overflow-x: clip;
        @include breakpoint($sm-bp) {
            height: 28rem;
        }
    }

    &__imgContainer {
        height: 50%;
        transition: all 0.5s ease-in-out;
    }

    &__img {
        height: 100%;
        width: 100%;
        object-fit: contain;

        transition: all 0.5s ease-in-out;
    }
    &__title {
        @extend %title;
        

    }

    &__item {
        // position: relative;
        // z-index: 4;
        cursor: pointer;

        margin-bottom: 3rem;
        color: $black;
        border-radius: 1rem;
        padding: 4rem;
        width: 33.2rem;
        // height: 49.7rem;

        background: #F3F3F3;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;

        // @extend %scaleHover;
        transition: all 0.5s ease-in-out;

        @media(any-hover: hover) {
        &:hover {
            height: 115%;
            padding: 0;
            padding-bottom: 3rem;
            gap: 0;
            .topSales__imgContainer {
                height: 40rem;
            }
            .topSales__wrapper {
                padding: 0 3rem;
            }
            .topSales__priceContainer {
                margin-top: 0;
            }
            span {
                padding: 0 3rem;
            }
        }
        }
        
        @include breakpoint($sm-bp) {
            padding: 0.95rem;
            height: 100%;
            @media(any-hover: hover) {
                &:hover {
                    height: 100%;
                    padding: 0;
                    padding-bottom: 0.95rem;
                    .topSales__imgContainer {
                        padding: 0 0.95rem;
                        padding-top: 0.95rem;
                        height: 13.5rem;
                    }
                    img {
                        height: 13rem;
                    }
                    .topSales__wrapper {
                        padding: 0 0.95rem;
                    }
                    .topSales__priceContainer {
                        margin-top: 0;
                    }
                    span {
                        padding: 0 0.95rem;
                    }
                }
                }
        }
    }
    &__name {
        font-family: InterReg;
        font-weight: 400;
        font-size: 1.8rem;
        transition: all 0.5s ease-in-out;
        @include breakpoint($sm-bp) {
            font-size: 1.4rem;
        }
    }

    &__wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        transition: all 0.5s ease-in-out;
    }

        &__priceContainer {
            // margin-top: 6.5rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            transition: all 0.5s ease-in-out;
            @include breakpoint($sm-bp) {
                margin-top: 0;
                gap: 0rem;
            }
        }

        &__pastPrice {
            color: #8D8D8D;
            font-family: InterReg;
            text-decoration: line-through;
            @include breakpoint($sm-bp) {
                font-size: 1.4rem;
            }
        }

        &__mainPrice {
            font-weight: 700;
            font-size: 3rem;
            line-height: 3.6rem;
            @include breakpoint($sm-bp) {
                font-size: 1.4rem;
                line-height: normal;
            }
        }

        &__credit {
            font-family: InterReg;
            @include breakpoint($sm-bp) {
                margin-top: 1rem;
            }
        }
        &__busketButton {
            @extend %busketButton;

            @include breakpoint($sm-bp) {
                align-self: flex-start;
            }
        }
        &__buttonContainer {
            // position: absolute;
            // bottom: 0;
            width: 100%;
            display: flex;
            margin-top: 3rem;
            // z-index: 1;
        }
        &__prevButton {
            margin-left: auto;
            @extend %prevButton;
        }
        &__nextButton {
            @extend %nextButton;
        }
}