
.main {
    font-family: Inter;
    overflow: hidden;

    .observe {
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.8s ease;
    }

    .observe-left {
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.8s ease;
    }

    .observe-active {
        transform: translateX(0);
        opacity: 1;
        transition: transform 0.8s ease;
    }

    .home {
        height: calc(100vh - 9.7rem);
        width: 100vw;
        min-height: 86.3rem;

        background-color: $black;

        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-left: auto;
        overflow: hidden;
        @include breakpoint($xl-bp) {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-between;
            gap: 4rem;
        }
        @include breakpoint($sm-bp) {
            padding-left: $border-min;
            padding-right: $border-min;
        }

        &__bg {
            object-fit: contain;
            align-self: flex-end;
            width: 100%;
            height: 100%;
            margin-left: auto;
            object-position: 50% 100%;
            @include breakpoint($xl-bp) {
                max-height: 50%;
            }
            
            .blur {
                filter: blur(1.2rem);
                min-height: 86.3rem;
                min-width: 96rem;
            }
        }

        &__container {
            width: max-content;
            padding-top: 12.2rem;

            font-size: 10rem;
            text-transform: uppercase;
            font-weight: 700;

            display: flex;
            flex-direction: column;
            gap: 4.5rem;
            @include breakpoint($cos-bp) {
                font-size: clamp(5rem, calc(5rem + 1vmin), 10rem);
                gap: clamp(1rem, 1rem + 1vmin, 4.5rem);
            }
            @include breakpoint($xl-bp) {
                padding-top: 3.4rem;
            }
            @include breakpoint($sm-bp) {
                font-size: 4rem;
                width: 100%;
            }
        }

        &__text {
            line-height: 1.1em;
        }

        &__text:nth-child(1) {
            width: max-content;
        }

        &__text:nth-child(2) {
            color:  $persic;
            font-family: InterReg;
            -webkit-text-stroke: 0.01rem $persic;
            -webkit-text-fill-color: transparent;
            
            padding-left: 16rem;
            width: 43.7rem;
            @include breakpoint($sm-bp) {
                padding-left: 0;
            }
        }

        &__text:nth-child(3) {
            margin-left: 30rem;
            width: max-content;
            text-align: end;
            @include breakpoint($sm-bp) {
                margin-left: 0;
            }
        }

        &__buy {
            @extend %button;

            margin-top: 2.1rem;
            margin-left: auto;
            @include breakpoint($sm-bp) {
                margin-left: 0;
            }
        }
    }

    .topSales {
        padding-left: $border;
        padding-right: $border;

        @include breakpoint($sm-bp) {
            padding-left: $border-min;
            padding-right: $border-min;
        }

        &__img {
            height: 22rem;
            width: 100%;
            object-fit: contain;
            @include breakpoint($sm-bp) {
                height: 8.8rem;
            }
        }
        &__title {
            @extend %title;
            

        }

        &__item {
            margin: 0 auto !important;
            margin-right: 2.2rem !important;
            margin-bottom: 3rem;
            color: $black;
            border-radius: 1rem;
            padding: 4rem;
            width: 33.2rem;
            height: 49.7rem;

            background: #F3F3F3;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;

            @extend %easyHover;

            @include breakpoint($sm-bp) {
                padding: 0.95rem;
                height: 24.8rem;
            }
        }
        &__name {
            font-family: InterReg;
            font-weight: 400;
            font-size: 1.8rem;
            @include breakpoint($sm-bp) {
                font-size: 1.4rem;
            }
        }

        &__wrapper {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }

            &__priceContainer {
                margin-top: 6.5rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                @include breakpoint($sm-bp) {
                    margin-top: 0;
                    gap: 0rem;
                }
            }
    
            &__pastPrice {
                color: #8D8D8D;
                font-family: InterReg;
                text-decoration: line-through;
                @include breakpoint($sm-bp) {
                    font-size: 1.4rem;
                }
            }
    
            &__mainPrice {
                font-weight: 700;
                font-size: 3rem;
                line-height: 3.6rem;
                @include breakpoint($sm-bp) {
                    font-size: 1.4rem;
                    line-height: normal;
                }
            }
    
            &__credit {
                font-family: InterReg;
                @include breakpoint($sm-bp) {
                    margin-top: 1rem;
                }
            }
            &__busketButton {
                @extend %busketButton;

                @include breakpoint($sm-bp) {
                    align-self: flex-start;
                }
            }
            &__buttonContainer {
                margin-top: 3rem;
                width: 100%;
                display: flex;
            }
            &__prevButton {
                margin-left: auto;
                @extend %prevButton;
            }
            &__nextButton {
                @extend %nextButton;
            }
    }
    .categories {
        padding-left: $border;
        padding-right: $border;

        @include breakpoint($sm-bp) {
            padding-left: $border-min;
            padding-right: $border-min;
        }
        &__nav {
            display: flex;
            flex-wrap: wrap;
            gap: 3rem;
            @include breakpoint($hb-bp) {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr))
            }
            @include breakpoint($sm-bp) {
                grid-gap: 2rem;
                grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr))
            }
        }

        &__title {
            @extend %title;
            

        }
        &__item {
            color: $black;
            height: min-content;
            min-width: 33.5rem;
            
            background: #F3F3F3;
            border-radius: 1rem;

            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 1rem;

            padding-top: 4rem;

            @extend %easyHover;

            @include breakpoint($sm-bp) {
                height: min-content;
                padding-top: 1.5rem;
            }
        }
        &__name {
            font-size: 3rem;
            line-height: 3.6rem;
            font-weight: 700;

            @include breakpoint($sm-bp) {
                font-size: 2.2rem;
                line-height: 2.7rem;
            }
        }
        &__description {
            font-family: InterMed;
            font-weight: 400;
            font-size: 1.8rem;

            // margin-bottom: 1.9rem;
            @include breakpoint($sm-bp) {
                font-size: 1.4rem;
                line-height: 142%;
            }
        }
        &__imageContainer {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
        }
        &__image {
            object-fit: contain;
        }
        &__item:nth-child(1) {
            color: $white;
            background-color: #000000;
            @include breakpoint($hb-bp) {
                img {
                    width: 100%;
                }
            }
        }
        &__item:nth-child(7) {
            @include breakpoint($hb-bp) {
                img {
                    align-self: flex-end;
                    width: 100%;
                }
            }
        }
        &__item:nth-child(8) {
            color: $white;
            background-color: #000000;
        }
    }

    .aboutCompany {

        padding-left: $border;
        padding-right: $border;

        @include breakpoint($sm-bp) {
            padding-left: $border-min;
            padding-right: $border-min;
        }

		&__title {
            @extend %title;
            

		}

		&__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 4rem;
		}

		&__subtitle {
            width: 61.9rem;
            height: 24.2rem;
            
            font-family: 'Inter';
            font-weight: 700;
            font-size: 10rem;
            line-height: 12.1rem;
            text-transform: uppercase;
                        
            color: $persic;

            @include breakpoint($sm-bp) {
                font-size: 6rem;
                line-height: 7.3rem;
                width: calc(100vw - $border-min);
                height: min-content;
            }
		}

		&__desc {
            margin-top: 2.3rem;
            width: 60rem;
            height: 7.2rem;
            
            /* Regular/18 */
            
            font-family: InterReg;
            line-height: 2.4rem;            
            font-size: 1.8rem;
            
            
            color: $black;
            @include breakpoint($sm-bp) {
                width: calc(100vw - $border-min);
                height: min-content;
            }
		}

        &__item {
            display: flex;
            align-items: center;
            gap: 5rem;
            @include breakpoint($sm-bp) {
                gap: 2rem;
            }
        }

        &__pref {
            @include breakpoint($sm-bp) {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
        }

		&__listTitle {
            display: flex;
            align-items: center;
            width: 82.2rem;
            height: 14.6rem;
            
            /* Bold/60 */
            
            font-family: Inter;
            font-style: normal;
            font-weight: 700;
            font-size: 6rem;
            line-height: 7.3rem;
            
            /* черный */
            
            color: $black;
            @include breakpoint($xl-bp) {
                font-size: clamp(2.2rem, 3rem + 1vmax, 6rem);
                line-height: 1.2em;
            }
            @include breakpoint($sm-bp) {
                font-size: 2.2rem;
                line-height: 1.2em;
                width: 100vw;
                height: min-content;
            }
		}
        &__dot {
            position: relative;
            display: inline-block;
            width: 11.9rem;
            height: 11.9rem;
            background: #FFFFFF;
            box-shadow: 0px 0.4rem 2.4rem rgba(0, 0, 0, 0.15);
            border-radius: 50%;
            @include breakpoint($xl-bp) {
                width: clamp(3.2rem, 5rem + 1vmax, 11.9rem);
                height: clamp(3.2rem, 5rem + 1vmax, 11.9rem);
            }
            @include breakpoint($sm-bp) {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
        &__dot:before {
            position: absolute;
            content: '';
            width: 40%;
            height: 40%;
            border-radius: 50%;
            border: 2px solid $persic;
            left: calc(50% - 20%);
            top: calc(50% - 20%);
        }
    }

    .benefits {
        padding-right: $border;
        padding-left: $border;

        @include breakpoint($sm-bp) {
            padding-left: $border-min;
            padding-right: $border-min;
        }

        &__title {
            @extend %title;
            


        }

        &__container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
            grid-gap: 3rem;
            @include breakpoint($sm-bp) {
                grid-gap: 2rem;
                grid-template-columns: repeat(auto-fit, minmax(33.5rem, 1fr));
            }
        }

		&__item {
            height: 29rem;
            background: $ligthGrey;
            border-radius: 1rem;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;

            @extend %easyHover;
		}

		&__desc {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 1.22em;
            text-align: center;
            
            color: $black;
            @include breakpoint($sm-bp) {
                font-size: 1.8rem;
                grid-template-columns: repeat(auto-fit, minmax(33.5rem, 1fr));
            }
		}
        &__icon {
            fill: $persic;
            width: 5rem;
            height: 5rem;
        }
    }

    .subscribe {
        padding-right: $border;
        padding-left: $border;

        @include breakpoint($sm-bp) {
            padding-left: $border-min;
            padding-right: $border-min;
        }
        &__title {
            @extend %title;
        }
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 62.6rem;
            width: 100%;
            @include breakpoint($xl-bp) {
                align-items: flex-start;
                flex-direction: column;
            }
        }
		&__form {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            width: 44.5rem;
		}

		&__topText {
            font-family: 'InterReg';
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.4rem;
            
            color: $black;
            @include breakpoint($sm-bp) {
                font-size: 1.4rem;
                line-height: 136%;
            }
		}

		&__email {
            @extend %input;
            @include breakpoint($sm-bp) {
                width: 33.5rem;
            }
		}

		&__notification {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2rem;
            
            color: $black;
		}

		&__submit {
            @extend %button;
            
            height: 5rem;
            width: 44.5rem;
            @include breakpoint($sm-bp) {
                width: 33.5rem;
            }
		}

        &__img {
            align-self: center;
            height: 62.6rem;
            width: 50%;
            object-fit: contain;
            @include breakpoint($sm-bp) {
                width: 100%;
            }
        }
    }

    .news {
        padding-right: $border;

        @include breakpoint($hb-bp) {
            padding-right: $border;
            padding-left: $border;
        }
        @include breakpoint($sm-bp) {
            padding-right: 0;
            padding-left: 0;
        }
        &__title {
            @extend %title;
        }
        &__container {
            display: flex;
            gap: 1rem;
            @include breakpoint($hb-bp) {
                justify-content: center;
            }
        }
        &__imgBg:first-child {
            height: 60.9rem;
            @include breakpoint($hb-bp) {
                display: none;
            }
        }
        &__imgBg:nth-child(2) {
            height: 51.2rem;
            @include breakpoint($hb-bp) {
                display: none;
            }
        }
        &__swiper {
            margin-right: 0;
            width: 80%;
            height: 630px;
            @include breakpoint($hb-bp) {
                margin: 0;
            }
        }
        .swiper__slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__slide {
            padding-left: -20px;
            display: grid;
            column-gap: 7.2rem;
            row-gap: 2rem;
            grid-template-areas: 
            "img date"
            "img title"
            "img button";

            grid-template-rows: 1fr 1fr 2fr;
            @include breakpoint($hb-bp) {
                grid-template-areas:
                "img" 
                "date"
                "title"
                "button";
    
                grid-template-rows: 1fr .5fr 3fr 1fr;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }

        &__img {
            width: 100%;
            grid-area: img;

            @include breakpoint($hb-bp) {
                width: 33.6rem;
                height: 30.8rem;
            }
        }
        &__date {
            color: $black;
            grid-area: date;
            align-self: flex-end;
        }

        &__slideTitle {
            grid-area: title;

            width: 59.1rem;
            
            font-family: 'InterMed';
            font-style: normal;
            font-weight: 500;
            font-size: 4rem;
            line-height: 4.8rem;

            color: $black;

            @include breakpoint($xl-bp) {
                font-size: clamp(2.2rem, 2.2rem + 1vmax, 4rem);
                width: min-content;
                height: max-content;
            }
        }
        &__button {
            grid-area: button;
            @extend %button;
            width: 30rem;
        }

        &__buttonContainer {
            width: 100%;
            display: flex;
        }
        &__prevButton {
            margin-left: auto;
            @extend %prevButton;
        }
        &__nextButton {
            @extend %nextButton;
        }
    
    }

    .contacts {
        padding-right: $border;
        padding-left: $border;

        @include breakpoint($sm-bp) {
            padding-left: $border-min;
            padding-right: $border-min;
        }
        &__title {
            @extend %title;
            


        }
        &__container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 62.6rem;
            width: 100%;
            @include breakpoint($xl-bp) {
                flex-direction: column;
                align-items: flex-start;
                height: 80rem;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        &__listItem {
            font-family: 'InterMed';
            font-weight: 500;

            color: $black;

            display: grid;
            grid-template-columns: 2.5rem 1fr;
            grid-column-gap: 2.5rem;
            grid-row-gap: 0.6rem;
            align-items: center;
        }

        &__icon {
            grid-row: 2 span;
        }

        &__desc {
            font-size: 2.4rem;
            line-height: 2.9rem;
        }

        &__workHours {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    

		&__form {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            width: 44.5rem;
		}

		&__topText {
            margin-top: 8.6rem;
            font-family: 'Inter';
            font-weight: 600;
            font-size: 3rem;
            line-height: 3.6rem;
            
            color: $black;
            @include breakpoint($xl-bp) {
                margin-top: 6rem;
            }
		}

		&__phone {
            @extend %input;
            @include breakpoint($sm-bp) {
                width: 33.5rem;
            }
		}

		&__notification {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 1.4rem;
            line-height: 2rem;
            
            color: $black;
		}

		&__submit {
            @extend %button;
            
            height: 5rem;
            width: 44.5rem;
            @include breakpoint($sm-bp) {
                width: 33.5rem;
            }
		}

        &__img {
            height: 62.6rem;
            width: 50%;
            object-fit: contain;
            @include breakpoint($xl-bp) {
                width: 100%;
            }
        }
    }
}
