<footer class="footer">
  <section class="footer__top">
    <div class="footer__mainText">У вас остались вопросы? Напишите нам в мессенджер!</div>
    <div class="footer__wrapper">
      <a href="#" class="footer__mesItem">
          <div class="footer__mesIcon">
            <svg>
              <use href="#WhatsUpIcon"></use>
            </svg>
          </div>
        <div class="footer__mesName">WhatsApp </div>
      </a>
      <a href="#" class="footer__mesItem">
        <div class="footer__mesIcon">
          <svg>
            <use href="#TelegramIcon"></use>
          </svg>
        </div>
        <div class="footer__mesName">Telegram</div>
      </a>
    </div>
  </section>
  <section class="footer__bottom">
    <div class="footer__wrapperBot">
      <a href="#" class="footer__logo">Apple Stock</a>
      <ul class="footer__categorys">
        <a href="#" class="footer__categoryItem">iPhone</a>
        <a href="#" class="footer__categoryItem">Android</a>
        <a href="#" class="footer__categoryItem">Apple Watch</a>
        <a href="#" class="footer__categoryItem">iMac</a>
        <a href="#" class="footer__categoryItem">iPad</a>
        <a href="#" class="footer__categoryItem">Аксессуары</a>
        <a href="#" class="footer__categoryItem">Macbook</a>
        <a href="#" class="footer__categoryItem">Наушники</a>
      </ul>
      <ul class="footer__list">
        <li class="footer__listItem">
          <img loading="lazy" src="./assets/images/main/contacts/contactsIcon-2.svg" alt="icon" class="footer__icon">
          <a href="tel:+7-919-683-79-79" class="footer__desc">+7-919-683-79-79</a>
        </li>
        <li class="footer__listItem">
          <img loading="lazy" src="./assets/images/main/contacts/contactsIcon-3.svg" alt="icon" class="footer__icon">
          <a href='#' class="footer__desc">AppleStock@mail.ru</a>
        </li>
        <li class="footer__listItem">
          <img loading="lazy" src="./assets/images/main/contacts/contactsIcon-1.svg" alt="icon" class="footer__icon">
          <a href='#' class="footer__desc">г.Москва, ул.Московская,98-3</a>
        </li>
    </ul>
    </div>
  <div class="footer__wrapperBotNext">
    <div class="footer__politics">
      <text>© Apple Stock, 2022</text>
      <a href="#" class="footer__politicsLink">Политика конфидерциальности</a>
    </div>
    <nav class="footer__nav"><a href="" class="footer__navItem">О компании</a>
      <a href="#" class="footer__navItem">Новости</a>
      <a href="#" class="footer__navItem">Оплата и доставка</a>
      <a href="#" class="footer__navItem">Контакты</a>
    </nav>
    <div class="footer__messageContainer">
      <a href="#" class="footer__mesIconBot">
        <svg>
          <use href="#WhatsUpIcon"></use>
        </svg>
      </a>
      <a href="#" class="footer__mesIconBot">
        <svg>
          <use href="#TelegramIcon"></use>
        </svg>
      </a>
    </div>
  </div>
  </section>
  <div class="footer__wrapperPolitics">
    <text class="footer__politicsLink">© Apple Stock, 2022</text>
    <a href="#" class="footer__politicsLink">Политика конфидерциальности</a>
  </div>
</footer>