<footer class="footer">
  <section class="footer__top">
    <text class="footer__mainText">У вас остались вопросы? Напишите нам в мессенджер!</text>
    <div class="footer__wrapper">
      <div class="footer__mesItem">
        <img src="" class="footer__mesIcon" alt='messangerIcon'/>
        <div class="footer__mesName">WhatsApp </div>
      </div>
      <div class="footer__mesItem">
        <img src="" class="footer__mesIcon" alt='messangerIcon'/>
        <div class="footer__mesName">Telegram</div>
      </div>
    </div>
  </section>
  <section class="footer__bottom">

  </section>
</footer>