<div class="menu">
  <!-- <div class="menu__closeIcon toggleMenuButton closeIconMenu">
    <i class="gg-close"></i>
  </div> -->
  <div class="closeIconMenu"></div>
  <ul class="menu__list">
      <li class="menu__itemMain">
          <div class="accordion">Каталог</div>
          <ul class="panel">
              <li>
                <a href="#" class="menu__item">iPhone</a>
              </li>
              <li>
                <a href="#" class="menu__item">Android</a>
              </li>
              <li>
                <a href="#" class="menu__item">Apple Watch</a>
              </li>
              <li>
                <a href="#" class="menu__item">iMac</a>
              </li>
              <li>
                <a href="#" class="menu__item">iPad</a>
              </li>
              <li>
                <a href="#" class="menu__item">Аксессуары</a>
              </li>
              <li>
                <a href="#" class="menu__item">Macbook</a>
              </li>
              <li>
                <a href="#" class="menu__item">Наушники</a>
              </li>
          </ul>
      </li>
      <li class="menu__itemMain">
        <a href="#" >О компании</a>
      </li>
      <li class="menu__itemMain">
        <a href="#">Новости</a>
      </li>
      <li class="menu__itemMain">
        <a href="#">Партнерам</a>
      </li>
      <li class="menu__itemMain">
        <a href="#">Оплата и доставка</a>
      </li>
      <li class="menu__itemMain">
        <a href="#">Контакты</a>
      </li>
  </ul>
  <ul class="menu__contacts">
    <li class="menu__contactsItem">
      <div class="menu__icon">
        <svg><use href="#PhoneIcon"></use></svg>
      </div>
      <a href="tel:+7-919-683-79-79" class="menu__text">+7-919-683-79-79</a>
    </li>
    <li class="menu__contactsItem">
      <div class="menu__icon meil">
        <svg><use href="#MailIcon"></use></svg>
      </div>
      <a href="#" class="menu__text">AppleStock@mail.ru</a>
    </li>
    <li class="menu__contactsItem">
      <div class="menu__iconBot">
        <svg><use href="#WhatsUpIconPersic"></use></svg>
      </div>
      <div class="menu__iconBot">
        <svg><use href="#TelegramIcon"></use></svg>
      </div>
    </li>
  </ul>
</div>

<header class="header">
  <form class="search">
    <div class="search__title">Поиск</div>
      <div class="menu__closeIcon search__close-icon">
        <i class="gg-close"></i>
      </div>
      <div class="search__input input-container">
        <input class="contacts__phone input-container__main" type="text">
        <span class="input-container__placeholder">Введите название товара</span>
        <button type="submit">
          <svg class="search__icon">
            <use href="#SearchIcon"></use>
          </svg>
        </button>
    </div>
  </form>


  <a class="header__logo" href="#">Apple Stock</a>
  <ul class="header__list">
    <li>
      <a href="#" class="header__item">iPhone</a>
    </li>
    <li>
      <a href="#" class="header__item">Android</a>
    </li>
    <li>
      <a href="#" class="header__item">Apple Watch</a>
    </li>
    <li>
      <a href="#" class="header__item">iMac</a>
    </li>
    <li>
      <a href="#" class="header__item">iPad</a>
    </li>
    <li>
      <a href="#" class="header__item">Аксессуары</a>
    </li>
    <li>
      <a href="#" class="header__item">Macbook</a>
    </li>
    <li>
      <a href="#" class="header__item">Наушники</a>
    </li>
  </ul>
  <nav class="header__contacts">
    <a href="#" class="header__contactItem">
      <svg class="header__whatsUpIcon">
        <use href="#WhatsUpIcon"></use>
      </svg>
    </a>
    <a  href="#" class="header__contactItem">
      <svg class="header__telegramIcon">
        <use href="#TelegramIcon"></use>
      </svg>
    </a>
    <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#" class="header__contactItem">
      <svg class="header__phoneIcon">
        <use href="#PhoneIcon"></use>
      </svg>
    </a>
    <div class="header__contactItem header-search">
      <svg class="header__searchIcon">
        <use href="#SearchIcon"></use>
      </svg>
    </div>
    <a href="#" class="header__contactItem">
      <span class="busketItems__count">
        2
      </span>
      <svg class="header__busketIcon">
        <use href="#BusketIcon"></use>
      </svg>
    </a>
    <div class="header__burgerMenuBlock"></div>
    <!-- <div class="header__burgerMenuIcon toggleMenuButton"></div> -->
    <!-- <svg class="header__burgerMenuIcon toggleMenuButton">
      <use href="#BurgerMenuIcon"></use>
    </svg> -->
  </nav>
</header>

<div class="header__burgerMenuIcon toggleMenuButton"></div>
<div class="probka"></div>
  
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button> -->
      <div class="modal-body">
        <form action="#">
          <p class="title">Заявка на покупку в кредит</p>
          <div class="contentContainer">

            <div class="inpContainer">
              <div class="input-container">
                <input class="contacts__phone input-container__main" type="text">
                <span class="input-container__placeholder">Имя</span>
              </div>
              <div class="input-container">
                <input class="contacts__phone input-container__main" type="text">
                <span class="input-container__placeholder">Фамилия</span>
              </div>
              <div class="input-container">
                <input class="contacts__phone input-container__main" type="text">
                <span class="input-container__placeholder">Отчество</span>
              </div>
              <div class="input-container">
                <input class="contacts__phone input-container__main" type="text">
                <span class="input-container__placeholder">Город</span>
              </div>
              <div class="input-container">
                <input class="contacts__phone input-container__main" type="tel">
                <span class="input-container__placeholder">Телефон</span>
              </div>
            </div>
            
          <p>Отправляя форму, вы соглашаетесь на обработку персональных данных</p>

          <button class="sendBtn" type="submit">Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>