<div class="menu">
  <div class="menu__closeIcon toggleMenuButton">
    <i class="gg-close"></i>
  </div>
  <ul class="menu__list">
      <li class="menu__itemMain">
          <div class="accordion">Каталог</div>
          <nav class="panel">
              <li>
                <a href="#" class="menu__item">iPhone</a>
              </li>
              <li>
                <a href="#" class="menu__item">Android</a>
              </li>
              <li>
                <a href="#" class="menu__item">Apple Watch</a>
              </li>
              <li>
                <a href="#" class="menu__item">iMac</a>
              </li>
              <li>
                <a href="#" class="menu__item">iPad</a>
              </li>
              <li>
                <a href="#" class="menu__item">Аксессуары</a>
              </li>
              <li>
                <a href="#" class="menu__item">Macbook</a>
              </li>
              <li>
                <a href="#" class="menu__item">Наушники</a>
              </li>
          </nav>
      </li>
      <a href="#" class="menu__itemMain">О компании</a>
      <a href="#" class="menu__itemMain">Новости</a>
      <a href="#" class="menu__itemMain">Партнерам</a>
      <a href="#" class="menu__itemMain">Оплата и доставка</a>
      <a href="#" class="menu__itemMain">Контакты</a>
  </ul>
  <ul class="menu__contacts">
    <div class="menu__contactsItem">
      <div class="menu__icon"></div>
      <a href="" class="menu__text"></a>
    </div>
    <div class="menu__contactsItem">
      <div class="menu__icon"></div>
      <a href="" class="menu__text">+7-919-683-79-79</a>
    </div>
    <div class="menu__contactsItem">AppleStock@mail.ru</div>
  </ul>
</div>

<form class="search">
  <div class="search__title">Поиск</div>
    <div class="menu__closeIcon search__close-icon">
      <i class="gg-close"></i>
    </div>
    <div class="search__input input-container">
      <input class="contacts__phone input-container__main" type="phone">
      <span class="input-container__placeholder">Введите название товара</span>
      <svg class="search__icon">
        <use href="#SearchIcon"></use>
      </svg>
  </div>
</form>

<header class="header">
  <a class="header__logo" href="#">Apple Stock</a>
  <nav class="header__list">
    <a href="#" class="header__item">iPhone</a>
    <a href="#" class="header__item">Android</a>
    <a href="#" class="header__item">Apple Watch</a>
    <a href="#" class="header__item">iMac</a>
    <a href="#" class="header__item">iPad</a>
    <a href="#" class="header__item">Аксессуары</a>
    <a href="#" class="header__item">Macbook</a>
    <a href="#" class="header__item">Наушники</a>
  </nav>
  <nav class="header__contacts">
    <a href="#" class="header__contactItem">
      <svg class="header__whatsUpIcon">
        <use href="#WhatsUpIcon"></use>
      </svg>
    </a>
    <a href="#" class="header__contactItem">
      <svg class="header__telegramIcon">
        <use href="#TelegramIcon"></use>
      </svg>
    </a>
    <a href="#" class="header__contactItem">
      <svg class="header__phoneIcon">
        <use href="#PhoneIcon"></use>
      </svg>
    </a>
    <a href="#" class="header__contactItem header-search">
      <svg class="header__searchIcon">
        <use href="#SearchIcon"></use>
      </svg>
    </a>
    <a href="#" class="header__contactItem">
      <svg class="header__busketIcon">
        <use href="#BusketIcon"></use>
      </svg>
    </a>
    <svg class="header__burgerMenuIcon toggleMenuButton">
      <use href="#BurgerMenuIcon"></use>
    </svg>
  </nav>
</header>